.gradle
build
out
.idea
*.iml
*.ipr
*.iws
.DS_Store
.env*
.freshcloud
applications/basic-server/bin/main/logback.xml
applications/basic-server/bin/main/io/collective/start/App.kt
applications/basic-server/bin/main/style/favicon.svg
applications/basic-server/bin/main/style/reset.css
applications/basic-server/bin/main/style/site.css
applications/basic-server/bin/main/style/style.css
applications/basic-server/bin/main/templates/index.ftl
applications/basic-server/bin/main/templates/template.ftl
applications/basic-server/bin/test/test/collective/start/AppTest.kt
applications/data-analyzer-server/bin/main/logback.xml
applications/data-analyzer-server/bin/main/io/collective/start/analyzer/App.kt
applications/data-analyzer-server/bin/test/test/collective/start/analyzer/AppTest.kt
components/data-analyzer/bin/main/io/collective/start/analyzer/ExampleTask.kt
components/data-analyzer/bin/main/io/collective/start/analyzer/ExampleWorker.kt
components/data-analyzer/bin/main/io/collective/start/analyzer/ExampleWorkFinder.kt
components/workflow-support/bin/main/io/collective/workflow/NoopTask.kt
components/workflow-support/bin/main/io/collective/workflow/NoopWorker.kt
components/workflow-support/bin/main/io/collective/workflow/NoopWorkFinder.kt
components/workflow-support/bin/main/io/collective/workflow/Worker.kt
components/workflow-support/bin/main/io/collective/workflow/WorkFinder.kt
components/workflow-support/bin/main/io/collective/workflow/WorkScheduler.kt
components/data-collector/bin/main/io/collective/start/collector/ExampleTask.kt
components/data-collector/bin/main/io/collective/start/collector/ExampleWorker.kt
components/data-collector/bin/main/io/collective/start/collector/ExampleWorkFinder.kt
applications/data-collector-server/bin/main/logback.xml
applications/data-collector-server/bin/main/io/collective/start/collector/App.kt
applications/data-collector-server/bin/test/test/collective/start/collector/AppTest.kt
